
header img
{
    width:200px;
}

    #main
{
    padding-top: 15px;
}

#main .logo, .navi
{
    float: left;
}

/* --- menubar section ------*/
.menubar {

    margin-top: 18px;
}

.menubar a {
  float:right;
    background-color:black;
  color:white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: verdana;
  margin-left: 10px;
  -webkit-transition: 1s;
}

.menubar a:hover {
  background-color:antiquewhite;
  color: black;
}


/*- end menubar --- */

/* slider section and offer -- */

#slider_section
{
    margin-top: 120px;

}
.slider
{
    border:5px solid darkblue;
    width:700px;
}
.slider img
{
    width:700px;
    height:315px;
    }
.offer
{
    width:280px;
    height:325px;

    margin-right: 10px;
}
.offer img
{
     -webkit-transition: 1s;
    width:200px;
    height:200px;
    border-radius:250px;
      border:3px solid white;
}
.offer img:hover
{
    border:3px solid black;
}
#slider_section .slider, .offer
{
    float: left;
}
p
{
    text-align: justify;
 padding-top:40px;
    font-size:20px;
    

}
/*- hot product section ---*/

#hot 
{
    
    padding-top:38px;
}
#hot div
{
    float: left;   
}
 #hot a
{
    float: right;
    text-decoration: none;
    text-align: center;
    background-color:darkblue;
    padding: 3px;
    font-size: 12px;
    color: aliceblue;
    border-radius: 3px;
}
#HOT LI 
{
        BORDER:2PX SOLID GREY;
    padding: 3PX; 
    margin-bottom: 5px;

}
#hot li img
{
   
    width:215px;
    height:210px;

}
#hot a:hover
{
    background-color:black;
}
#hot li
{
    margin: 0 auto;
    float: left;
    list-style: none;
    margin-left: 22px;
        margin-bottom: 10px;

}
    #hot .hot_slogan
{
 }


.hot_slogan
{
    width: 180px;
}
#slo img
{
    width:200px;
    padding-top: 25px;
    
}
/* -- about us section -- */
#about_us
{
    margin-top: 40px;

}
.info 
{
    width:700px;
    height:200px;

}
    .info h1
{
    font-size:25px;
    color: white;
    text-align: center;
    background-color:black;
}
#about_us 
{
    background-color:burlywood;
    height:180px;
    padding: 20px;
    text-align:justify;
    font-size:20px;
}
#about_us div
{
    float: left;
}

#about_us .about_img 
{
    margin-left: 20px;

}
#about_us img
{
    width: 280px;
}


/*----- our brands --- */

#brands img 
{
    margin-top: 20px;
    width: 150px;
    margin-left: 35px;  
    height:100px;
}

/* --- footer section ----- */
#max
{
    border-top:5px solid black;
    margin-top: 10px;
    width:100%;
    background-color:black;
    height:200px;
}

footer img
{ 
    width:100px;
    text-decoration: none;
    text-align: center;
}

footer .sec, .sec1
{
    float:left;
    color:white;
    font-size:24px;
    margin-left: 50px;
    padding: 50px;
}
.sec1
{
    padding-top: 90px;
}


