
header img
{
    width:200px;
}

    #main
{
    padding-top: 15px;
}

#main .logo, .navi
{
    float: left;
}

/* --- menubar section ------*/
.menubar {

    margin-top: 18px;
}
.menubar li
{
    list-style: none;
    display: block;
}

.menubar a {
  float:right;
  background-color:black;
  color:white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: verdana;
  margin-left: 10px;
  -webkit-transition: 1s;
}
    a.cart
{
    background-color:white;
    color: black;
    
}
.menubar a:hover {
  background-color:antiquewhite;
  color: black;
}


/*- end menubar --- */

/* slider section and offer -- */

#slider_section
{
    margin-top: 120px;

}
.slider
{
    border:5px solid darkblue;
    height:310px;
    margin: 2px;
}
.slider img
{
    width:690px;
    height:310px;
    }
.offer
{
    margin-top: -10px;
    width:280px;
    height:325px;
    margin-right: 10px;
    text-align: center;
}
.offer h2 a
{
    background-color:black;
    color:white;
    padding: 0px 3px;
    font-size: 21px;
}
.offer h2 a:hover
{
    background-color:darkblue;
}
.offer img
{
    -webkit-transition: 1.4s;
    width:180px;
    height:180px;
    border-radius:250px;
    border:10px solid white;
}
.offer img:hover
{
    border:10px solid black;
}
#slider_section .slider, .offer
{
    float: left;
}


/*--- third main section style --- */

#m_h
{
   margin-top:40px; 
}


/*- hot product section ---*/

#hot 
{
    
    padding-top:20px;
}
#hot div
{
    float: left;   
}
 #hot a
{
    float: right;
    text-decoration: none;
    text-align: center;
    background-color:darkblue;
    padding: 3px;
    font-size: 12px;
    color: aliceblue;
    border-radius: 3px;
}
#hot li
{
    BORDER:2PX SOLID GREY;
    padding: 3PX; 
    margin-bottom: 5px;
    width:215px;

}
#hot li img
{
   
    width:215px;
    height:190px;
    border-bottom: 1px solid grey;
    margin-top: 2px;

      
}
#hot a:hover
{
    background-color:black;
}
#hot li
{
    margin: 0 auto;
    float: left;
    list-style: none;
    margin-left: 22px;
        margin-bottom: 10px;

}


/* -- about us section and uper body p section */


#about_us , #m_h
{
    background-color:burlywood;
    text-align:justify;
    font-size:20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px black;

}
.info
{
    width:700px;
}

.info, .a_img
{
    float: left;
    margin-left: 30px;
}


.a_img
{
    border-radius: 10px;
    width: 220px;
}


/*----- our brands --- */

#brands img 
{
    margin-top: 20px;
    width: 150px;
    margin-left: 35px;  
    height:100px;
}

/* --- footer section ----- */
#max
{
    border-top:5px solid black;
    margin-top: 10px;
    width:100%;
    background-color:black;
    height:250px;
    color: white;
    text-transform: uppercase;
}

footer img
{ 
    width:100px;
    text-decoration: none;
    text-align: center;
}

footer .sec, .sec1
{
    float:left;
    color:white;
    font-size:24px;
    margin-left: 50px;
    padding: 50px;
}
.sec1
{
    padding-top: 90px;
}


